//------------------------------------------------------------
// Sidebar tweaks to match with Whitesur
//------------------------------------------------------------
.account-sidebar {
    background-color: #333333 !important;
}
.toolbar-RootSidebar {
    background-color: #333333 !important;
}
.nylas-outline-view .item.selected img.content-mask {
    background-color: #5E8EDC !important;
}
.nylas-outline-view .item img.content-mask {
    background-color: #5E8EDC !important;
}
